<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing for Fedex">
    <test name="Test Execution using testng">
        <groups>
           <run>
             <include name = "sanity"></include>
           </run>
       </groups>

        <classes>
            <class name="fedex_totalsales.Tests.loginWithCredentials"/>
        </classes>
    </test>
</suite>